<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Warrior Game</title>
  </head>
  <body>
    <header>
      <h1>Game</h1>
      <ul>
        <a href='/warrior/add-form'>Register a warrior</a>
      </ul>
      <ul>
        <a href='/arena/fight-form'>Arena</a>
      </ul><ul>
        <a href='/hall-of-fame'>Hall of fame</a>
      </ul>
    </header>
    <main>
      {{{body}}}
    </main>

  </body>
</html>